<header class="bg-dark py-3">
  <div
    class="container align-items-center justify-content-between text-light d-flex"
  >
    <h3>To-Do Lists Manager</h3>
    <a href="/app" class="text-info">All To-Do Lists</a>
    <a href="/app/newToDoList" class="text-info">New List</a>
  </div>
</header>
